Source: seealso
Section: misc
Priority: extra
Maintainer: Jakob Voss <jakob.voss@gbv.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.2

Package: seealso
Architecture: amd64
Depends: perl-modules (>= 5.10.1), cpanminus, starman, libyaml-perl, libtemplate-perl, libyaml-libyaml-perl, libapp-cmd-perl, libclone-perl, libdata-compare-perl, libdata-uuid-perl, libfile-find-rule-perl, libio-handle-util-perl, libjson-perl, liblist-moreutils-perl, liblog-any-adapter-perl, liblog-any-perl, libmodule-info-perl, libmoo-perl, libnamespace-clean-perl 
Recommends: carton
Description: SeeAlso link server 
